.contenedor {

    width: 300px;
    background-color: rgba(218, 218, 230, 0.74);
    display: flex;
    flex-direction: column;
    align-items: flex-end;


}



.item1 {
    background-color: rgb(255, 0, 0);
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    width: 100px;
    height: 100px;
}

.item2 {
    background-color: blue;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100px;
    height: 100px;
}

.item3 {
    background-color: rgba(12, 240, 80, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    font-size: 30px;
    width: 100px;
    height: 100px;
}