/* font-family: 'Open Sans', sans-serif; */

body {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


header {
    background-color: rgb(0, 0, 0);
   
    color: #008b8b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

header h2 {

    font-style: italic;
    font-weight: bold;
}

header img {
    padding-left: 45px;
}

nav {
    
    height: 30px;
    color: #008b8b;
    background-color: black;
    padding: 0;

}



nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-top: 5px;
    padding-left: 40px;
}

ul li {


    flex-grow: 1;
}

nav ul li a {
    color: #008b8b;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.inicio {
    /* background-color: rgb(131, 125, 136); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 479px;
    background-image: url(../img/microfonos.jpg);
    padding: 50px;



}

footer {
    background-color: #008b8b;
    text-align: right;
    padding-right: 10px;
}

.activo {

    background-color: #033535;
}


/* inicio personas*/

.personas {

    display: flex;
    justify-content: space-around;

    padding: 10px;

}

.persona {


    text-align: center;
    border: 1px solid #008b8b;
    border-radius: 10px;
    width: 18%;
    background-color: #020202c2;
    padding: 30px;
    color: #ecf1f1;
}

.persona img {

    border-radius: 50%;
    height: 170px;
    filter: grayscale(100%);
}

.empresa {
    text-align: center;
    color: #f6f8f8;
    width: 960px;
    margin: 0 auto;
    text-shadow: #141414 1px;
}

.mainnos {
    border-top: 1px solid #008b8b;
    background: rgb(1, 0, 8);
    background: rgb(1, 0, 8);
    background: -moz-linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    background: -webkit-linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    background: linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008", endColorstr="#008b8b", GradientType=1);
   
    padding-top: 20px;
    height: auto;
}

/*  inicio Cuerdas*/

.catalogo {
    text-align: center;
    color: #eef5f5;
    width: 960px;
    margin: 0 auto;
    text-shadow: #141414 1px;
}


.cuerdas {

    text-align: center;
    border: 1px solid #008b8b;
    border-radius: 10px;
    width: 88%;
    margin: 0 auto;
    height: 260px;
    background: rgb(1, 0, 8);
    background: -moz-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: -webkit-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgb(4, 78, 78) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008", endColorstr="#008b8b", GradientType=1);
    padding: 30px;
    color: #008b8b;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.detcuerdas {

    display: flex;
    flex-direction: column;
    color: aliceblue;

}

.imgcuerdas {
    width: 200px;
    height: 200px;
    background-color: #008b8b;
    /* flex-wrap: nowrap; */
}

.imgcuerdas img {
    width: 200px;
    height: 200px;

}

.cuerdas:hover {

    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

/* Inicio Teclados */

.teclas {

    text-align: center;
    border: 1px solid #008b8b;
    border-radius: 10px;
    width: 88%;
    margin: 0 auto;
    height: 260px;
    background: rgb(1, 0, 8);
    background: -moz-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: -webkit-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgb(4, 78, 78) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008", endColorstr="#008b8b", GradientType=1);
    padding: 30px;
    color: #008b8b;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.detteclas {

    display: flex;
    flex-direction: column;
    color: aliceblue;

}

.imgteclas {
    width: 200px;
    height: 200px;
    background-color: #008b8b;
    /* flex-wrap: nowrap; */
}

.imgteclas img {
    width: 200px;
    height: 200px;

}

.teclas:hover {

    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

/* Inicio Contacto*/

.cuadro {


    width: 500px;
    height: auto;
    margin: 0 auto;
    /* background-color: #2524249c; */
    background: #a6adad;
    padding: 30px;
    /* margin-top: 70px; */
    margin-bottom: 70px;
    border-radius: 10px;

}

.contacto {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.contacto label {

    min-width: 100px;
}

.contacto input {

    border-radius: 5px;
}

.contacto textarea {

    max-width: 190px;
    border-radius: 10px;
    resize: none;
}

.renglon {
    display: flex;
}