<h1>{{title}}</h1>
<p style="font-weight: bold; font-size:large">El precio que esperabas</p>

<p style="font-weight: bold;">Jean Gastado       $ 10.000</p>
<p style="font-weight: bold;">Camisa Jean      $ 7.000</p>
<p style="font-weight: bold;">Campera Jean     $ 30.000</p>
<p style="font-weight: bold;">Zapatos Negros   $ 15.000</p>
