<h1>{{title}}</h1>
<p style="font-weight: bold; font-size:large">Producto Disponibles</p>

<p style="font-weight: bold;">Camperas</p>
<p style="font-weight: bold;">Zapatos</p>
<p style="font-weight: bold;">Carteras</p>
<p style="font-weight: bold;">Camisas</p>
<p style="font-weight: bold;">Jeans varios modelos</p>
